@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: rgb(29, 29, 36);
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

nav {
    position: sticky;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    background-color: rgb(15, 16, 24);
    font-family: 'Tilt Neon', cursive;
    height: 70px;
    top: 0;
    z-index: 1;
}

nav .logo a h1 {
    font-size: 34px;
    font-weight: 700;
}


.list {
    display: flex;
}

.list li {
    list-style: none;
    margin: 0 10px;
}

.list li a {
    display: flex;
    text-decoration: none;
    color: #fff;
    align-items: center;
    font-size: 20px;
}

.list li a:hover {
    color: rgb(255, 57, 57);
}

.list li a i {
    margin: 0 12px;
    font-size: 22px;
}

.list li a .fa-crown {
    color: rgb(255, 217, 47);
}

#check:checked~.list {
    left: 0%;
}

#check {
    display: none;
}

.menu i {
    display: none;
    cursor: pointer;
    font-size: 22px;
}



















article {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
 }
 
 h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
 }
 
 img {
    display: block;
    max-width: 100%;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
 }
 
 ol {
    margin-left: 30px;
 }
 
 li {
    margin-bottom: 10px;
 }
 
 p {
    line-height: 1.5;
    margin-bottom: 20px;
 }












 







#main-section {
    background-image: url('/img/bg1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
 }
 
 .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
 }
 
 .main-section h2 {
    font-size: 48px;
    margin-bottom: 20px;
 }
 
 .main-section p {
    font-size: 24px;
    margin-bottom: 40px;
 }
 
 .cta-btn {
    background-color: #ff8c00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
 }
 
 .cta-btn:hover {
    background-color: #fff;
    color: #ff8c00;
 }


 /* blog section start  */
 #blog-section {
    padding: 80px 0;
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(255,49,91,1) 100%);
    color: #000;
 }
 
 .blog-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
 }
 
 h2 {
    font-size: 48px;
    margin-bottom: 40px;
 }
 
 .blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    margin-top: 40px;
 }
 
 .blog-item {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 5px;
    overflow: hidden;
 }
 
 .blog-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
 }
 
 .blog-item h3 {
    font-size: 24px;
    margin: 20px;
 }
 
 .blog-item p {
    font-size: 18px;
    margin: 0 20px 20px;
 }
 
 .read-more {
    display: block;
    margin: 20px;
    padding: 10px 20px;
    background-color: #ff8c00;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
 }
 
 .read-more:hover {
    background-color: #fff;
    color: #ff8c00;
 }
 
 @media screen and (max-width: 768px) {
    .blog-grid {
       grid-template-columns: repeat(1, 1fr);
    }
 }
 




@media (max-width:740px) {
    .list {
        position: fixed;
        left: -100%;
        top: 70px;
        background-color: rgb(15, 16, 24);
        width: 50%;
        height: 100%;
        align-items: center;
        flex-direction: column;
        transition: all 0.2s ease;
    }

    .list li {
        margin: 69px 0;
        text-align: center;
    }

    .menu i {
        display: block;
    }

    #check:checked~.menuBtn i::before {
        content: "\00d7";
    }

    .home::before {
        background-size: contain;
        width: 46vh;
        height: 90vh;
        opacity: 0.5;
        z-index: -1;
    }
    .main-heading {
        padding: 2px;
        position: relative;
        display: flex;
        z-index: -1;
        align-items: center;
        height: 16vh;
        justify-content: space-between;
    }
    .main-heading h1 {
        width: 8rem;
        text-align: center;
        font-size: 11px;
    }    
}